pandas==1.2.2
numpy
streamlit==0.76.0
textblob==0.15.3
nltk==3.5
spacy==3.1.2
keras==2.6.0
tensorflow==2.6.0
htbuilder==0.3.0
regex==2020.11.13
collection==0.1.6
jamspell
streamlit-lottie
pyenchant
language-tool-python
gingerit
nlprule
gensim==3.8.3