pandas
numpy
scikit-learn
sklearn==0.0
spacy
scipy
streamlit
streamlit-lottie==0.0.2
st-annotated-text==1.0.1
tensorflow==2.6.0
textblob==0.15.3
nltk==3.5
keras==2.6.0
Keras-Preprocessing==1.1.2
language-tool-python==2.5.5
htbuilder==0.3.0
collection==0.1.6
pyspellchecker==0.6.2
regex==2020.11.13
nlprule==0.6.4
gensim==3.8.3
altair==4.1.0
h5py==3.1.0
pickleshare
